<template>
    <div>
        <div class="content-layout">
            <Nuxt />
        </div>
    </div>
</template>
<script>
export default {
    components: {
    },
}
</script>
<style lang="scss">
@import '~/styles/global.scss';
    .content-layout {
        background-color: #FFF;
        width: 100%;
        overflow: auto;
    }
</style>
