<template>
    <div class="content">
        <TopBar :title="detail.title" :back="true" />
        <div class="chat-room-section">
            <div class="chat-conversation" ref="messagesContainer">
                <div :class="me !== chat.sender ? `chat-bubble another` : `chat-bubble me`" v-for="(chat,index) in chatList" :key="index">
                    <div class="left" v-if="me !== chat.sender">
                        <span class="name">{{ chat.sender }}</span>
                        <span>{{ chat.msg }}</span>
                        <span class="date">{{ moment(chat.createdAt).format(`DD/MM/YYYY, HH:mm`) }}</span>
                    </div>
                    <div class="right" v-else>
                        <span class="name">{{ chat.sender }}</span>
                        <span>{{ chat.msg }}</span>
                        <span class="date">{{ moment(chat.createdAt).format(`DD/MM/YYYY, HH:mm`) }}</span>
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <a-input v-model="text" @keyup.enter="sendMessage()">
                    <img
                        @click="sendMessage()"
                        slot="suffix"
                        class="ic-send"
                        src="~/assets/images/ic-send.png"
                    >
                </a-input>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import axios from 'axios'
import toastr from 'toastr'
import moment from 'moment'
import io from 'socket.io-client'
import TopBar from '~/components/global/Topbar.vue'

export default {
    components: {
        TopBar
    },
    data() {
        return {
            roomId: this.$route.params.id,
            text: '',
            detail: {},
            chatList: [],
            socket: {}
        }
    },
    computed: {
        ...mapState({
            me: state => state.displayName.displayName,
        }),
    },
    methods: {
        moment,
        ...mapMutations({
            resetDisplayName: "displayName/resetDisplayName",
        }),
        scrollToEnd() {
            var elem = this.$refs.messagesContainer
            elem.scrollTop = elem.scrollHeight
        },
        sendMessage() {
            const vm = this
            axios.post(`http://localhost:9000/api/message`, {
                roomId: this.roomId,
                sender: this.me,
                msg: this.text
            }).then(async () => {
                this.socket.emit("sendMessage", {
                    roomId: vm.roomId,
                    sender: vm.me,
                    msg: vm.text,
                    createdAt: moment()
                })
                await this.chatList.push({
                    sender: this.me,
                    msg: this.text
                })
                this.text = ''
                await this.scrollToEnd()
            }).catch((err) => {
                toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
            })
        },
        getRoom() {
            axios.get(`http://localhost:9000/api/room/${this.roomId}`).then((response) => {
                this.detail = response.data
            }).catch((err) => {
                toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
            })
        },
        async getMessages() {
            await axios.get(`http://localhost:9000/api/message/room/${this.roomId}`).then(async (response) => {
                this.chatList = await response.data
            }).catch((err) => {
                toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
            })
            await this.scrollToEnd()
        },
    },
    async mounted() {
        await this.getRoom()
        await this.getMessages()
        this.socket = await io("http://localhost:8900")
        const vm = this
        this.socket.on(vm.roomId, (data) => {
            if (data.sender !== vm.me) {
                vm.chatList.push(data)
            }
        })
    },
    beforeDestroy() {
        const vm = this
        axios.put(`http://localhost:9000/api/room/${this.roomId}/leave`, {
            displayName: this.me
        }).then(() => {
            this.socket.emit("leave", {
                roomId: vm.roomId,
                displayName: vm.me
            })
            toastr.success('ออกจากห้องสนทนา')
            this.resetDisplayName()
        }).catch((err) => {
            toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
        })
    }
}
</script>

<style lang="scss" scoped>
.another{
    justify-content: flex-start;
}
.me{
    justify-content: flex-end;
}
.left{
    position: relative;
    background-color: #3A67B0;
    color: white;
    font-size: .875rem;
    padding: 8px;
    border-radius: 16px;
    min-width: 40px;
    text-align: start;
    .name{
        color: #666666;
        position: absolute;
        font-size: .875rem;
        top: -20px;
        left: 1px;
    }
    .date{
        color: #666666;
        position: absolute;
        font-size: .45rem;
        bottom: -12px;
        left: 1px;
        width: 71px;
    }
}
.right{
    position: relative;
    background-color: #F8CD53;
    color: white;
    font-size: .875rem;
    padding: 8px;
    border-radius: 16px;
    min-width: 40px;
    text-align: right;
    .name{
        color: #666666;
        position: absolute;
        font-size: .875rem;
        top: -20px;
        right: 1px;
    }
    .date{
        color: #666666;
        position: absolute;
        font-size: .45rem;
        bottom: -12px;
        right: 1px;
        width: 71px;
    }
}
.content{
    background-color: #ffffff;
    height: 100vh;
}
.chat-room-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 44px);
    .chat-conversation{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: calc(100vh - 108px);
        min-height: calc(100vh - 108px);
        overflow-y: scroll;
        .chat-bubble{
            padding: 20px 10px;
            width: 100%;
            display: flex;
        }
    }
    .chat-input{
        width: 100%;
        padding: 16px;
        background-color: #f5f5f5;
        display: flex;
    }
}
.ic-send {
    cursor: pointer;
}
.ic-send:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

</style>
