<template>
    <div class="content">
        <TopBar title="Chat room" />
        <div class="chat-room-section">
            <a-button class="create" width="100" @click="createRoom">
                สร้างห้อง
            </a-button>
            <div class="chat-room-list" v-if="cardList.length > 0">
                <div class="chat-card" v-for="(card,index) in cardList" :key="index" @click="join(card._id,card.title,card.members)">
                    <span class="title">{{ card.title }}</span>
                    <a-divider style="color: #666666; margin: 12px 0;" />
                    <span class="detail"><a-icon type="user" style="margin-right: 4px;" />{{ card.members.length }}</span>
                </div>
            </div>
            <div class="empty-chat" v-else>
                - ไม่มีห้องแชทในขณะนี้ -
            </div>
        </div>
        <ModalCreate ref="modalCreate" title="สร้างห้อง" @created="created" />
        <ModalJoin ref="modalJoin" title="เข้าร่วมห้องสนทนา" />
    </div>
</template>

<script>
import { mapMutations } from 'vuex'
import axios from 'axios'
import toastr from 'toastr'
import io from 'socket.io-client'
import TopBar from '~/components/global/Topbar'
import ModalCreate from '~/components/global/ModalCreate'
import ModalJoin from '~/components/global/ModalJoin'

export default {
    components: {
        TopBar,
        ModalCreate,
        ModalJoin
    },
    data() {
        return {
            socket: {},
            cardList: []
        }
    },
    methods: {
        ...mapMutations({
            setDisplayName: "displayName/setDisplayName",
        }),
        createRoom() {
            this.$refs.modalCreate.open()
        },
        getRooms() {
            axios.get('http://localhost:9000/api/room').then((response) => {
                this.cardList = response.data
            }).catch((err) => {
                toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
            })
        },
        created(data) {
            axios.post('http://localhost:9000/api/room', data).then((response) => {
                this.socket.emit("createRoom", {
                    roomId: response.data._id,
                    title: response.data.title,
                    creatorName: response.data.members[0]
                })
                toastr.success('สร้างห้องสำเร็จ')
                this.setDisplayName(response.data.members[0])
                this.$router.push(`/${response.data._id}`)
            }).catch((err) => {
                toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
            })
        },
        join(id, titleRoom, members) {
            this.$refs.modalJoin.open(id, titleRoom, members)
        }
    },
    mounted() {
        this.getRooms()
        this.socket = io("http://localhost:8900")
        const vm = this
        this.socket.on("getRoom", (data) => {
            vm.cardList.push(data)
        })
        this.socket.on("userJoin", (data) => {
            const index = vm.cardList.findIndex((el) => el._id === data.roomId)
            vm.cardList[index].members.push(data.displayName)
        })
        this.socket.on("userLeave", (data) => {
            const indexRoom = vm.cardList.findIndex((el) => el._id === data.roomId)
            const indexMember = vm.cardList[indexRoom].members.findIndex((el) => el === data.displayName)
            vm.cardList[indexRoom].members.splice(indexMember, 1)
            if (vm.cardList[indexRoom].members.length === 0) {
                vm.cardList.splice(indexRoom, 1)
            }
        })
    }
}
</script>

<style lang="scss" scoped>
.empty-chat{
    padding: 40px;
    color: #838080;
}
.content{
    background-color: #ffffff;
    height: 100vh;
}
.chat-room-section{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .create{
        width: 100px;
        margin: 10px auto;
    }
    .chat-room-list{
        padding: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 24px;
        justify-content: center;
        .chat-card{
            margin: 0 auto;
            width: 100%;
            cursor: pointer;
            padding: 16px;
            background-color: #ffffff;
            color: #666666;
            border-radius: 6px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            .title{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;
            }
            .detail{
                font-size: .875rem;
            }
        }
        .chat-card:hover{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }
    }
}

@media only screen and (max-width: 600px) {
  .chat-room-list{
        grid-template-columns: 1fr !important;
    }
}
</style>
