<template>
    <a-modal
        :title="null"
        :footer="null"
        :closable="false"
        :visible="isShow"
        width="560px"
        centered
        wrapClassName="modal account-confirmation-modal"
        @cancel="close"
    >
        <div class="modal-close">
            <img
                src="~assets/images/icon-close.png"
                alt="close"
                @click="close"
            >
        </div>
        <div class="modal-body">
            <div class="text">
                <span class="title">{{ title }}</span>
            </div>
            <a-form class="form-create" layout="horizontal">
                <a-form-item
                    label="ชื่อห้อง"
                >
                    <a-input v-model="data.title" placeholder="ชื่อห้อง" />
                </a-form-item>
                <a-form-item
                    label="ชื่อผู้ใช้"
                >
                    <a-input v-model="data.creatorName" placeholder="ชื่อผู้ใช้" />
                </a-form-item>
                <a-form-item class="submit">
                    <a-button :disabled="disableBtn" type="primary" @click="createRoom">
                        Submit
                    </a-button>
                </a-form-item>
            </a-form>
        </div>
    </a-modal>
</template>

<script>
export default {
    props: [ 'title' ],
    data() {
        return {
            isShow: false,
            data: {
                title: '',
                creatorName: '',
            }
        }
    },
    computed: {
        disableBtn() {
            return !this.data.title || !this.data.creatorName
        },
    },
    methods: {
        open() {
            this.isShow = true
        },
        close() {
            this.isShow = false
        },
        createRoom() {
            this.$emit('created', this.data)
            this.data.title = ''
            this.data.creatorName = ''
            this.close()
        }
    },
}
</script>
<style lang="scss" scoped>
    .modal-close {
        // display: block;
        // text-align: right;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 24px;
        img{
            width: 20px;
        }
    }
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            padding: 10px;
        }
        .text{
            padding: 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title{
                font-size: 1.125rem;
            }
            .detail{
                font-size: .75rem;
                color: #999999;
            }
        }
    }
</style>

<style>
.form-create.ant-form.ant-form-horizontal{
    width: 100%;
}
.submit{
    display: flex;
    justify-content: flex-end;
    margin: 24px 0px;
}
.ant-row.ant-form-item{
    margin-bottom: 8px;
}
</style>
