<template>
    <a-modal
        :title="null"
        :footer="null"
        :closable="false"
        :visible="isShow"
        width="560px"
        centered
        wrapClassName="modal account-confirmation-modal"
        @cancel="close"
    >
        <div class="modal-close">
            <img
                src="~assets/images/icon-close.png"
                alt="close"
                @click="close"
            >
        </div>
        <div class="modal-body">
            <div class="text">
                <span class="title">{{ title }}</span>
            </div>
            <a-form class="form-create" layout="horizontal">
                <a-form-item
                    label="ชื่อผู้ใช้"
                >
                    <a-input v-model="name" placeholder="ชื่อผู้ใช้" />
                </a-form-item>
                <a-form-item class="submit">
                    <a-button :disabled="disableBtn" type="primary" @click="joinRoom">
                        Submit
                    </a-button>
                </a-form-item>
            </a-form>
        </div>
    </a-modal>
</template>

<script>
import { mapMutations } from 'vuex'
import axios from 'axios'
import toastr from 'toastr'
import io from 'socket.io-client'

export default {
    props: [ 'title' ],
    data() {
        return {
            isShow: false,
            id: '',
            titleRoom: '',
            members: [],
            name: '',
            socket: {}
        }
    },
    computed: {
        disableBtn() {
            return !this.name
        },
    },
    methods: {
        ...mapMutations({
            setDisplayName: "displayName/setDisplayName",
        }),
        open(id, titleRoom, members) {
            this.id = id
            this.titleRoom = titleRoom
            this.members = members
            this.isShow = true
        },
        close() {
            this.id = ''
            this.name = ''
            this.titleRoom = ''
            this.members = []
            this.isShow = false
        },
        joinRoom() {
            if (this.members.find((el) => el === this.name)) {
                toastr.error('ชื่อซ้ำ กรุณาเลือกชื่ออื่น')
            }
            else {
                this.setDisplayName(this.name)
                const vm = this
                axios.put(`http://localhost:9000/api/room/${this.id}/join`, {
                    displayName: this.name
                }).then(() => {
                    this.socket.emit("join", {
                        roomId: vm.id,
                        displayName: vm.name
                    })
                    toastr.success('เข้าสู่ห้องสนทนา')
                    this.$router.push(`/${this.id}`)
                    this.close()
                }).catch((err) => {
                    toastr.error('เกิดข้อผิดพลาดบางอย่าง กรุณาลองใหม่อีกครั้ง', err)
                })
            }
        }
    },
    mounted() {
        this.socket = io("http://localhost:8900")
    }
}
</script>
<style lang="scss" scoped>
    .modal-close {
        // display: block;
        // text-align: right;
        cursor: pointer;
        position: absolute;
        right: 24px;
        top: 24px;
        img{
            width: 20px;
        }
    }
    .modal-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            padding: 10px;
        }
        .text{
            padding: 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .title{
                font-size: 1.125rem;
            }
            .detail{
                font-size: .75rem;
                color: #999999;
            }
        }
    }
</style>

<style>
.form-create.ant-form.ant-form-horizontal{
    width: 100%;
}
.submit{
    display: flex;
    justify-content: flex-end;
    margin: 24px 0px;
}
.ant-row.ant-form-item{
    margin-bottom: 8px;
}
</style>
