<template>
    <div class="topbar">
        <a-icon class="back" v-if="back" type="arrow-left" @click="confirmLeave" />
        <img v-else class="logo" src="~/assets/images/logo.jpeg">
        <span>{{ title }}</span>
    </div>
</template>

<script>
export default {
    props: [ 'title', 'back' ],
    data() {
        return {
            visible: false
        }
    },
    methods: {
        confirmLeave() {
            var vm = this
            this.$confirm({
                content: 'กลับไปหน้าห้องแชทรวม จะเป็นการออกจากห้องแชทนี้โดยอัตโนมัติ',
                onOk() {
                    vm.$router.push('/')
                },
                okText: 'ยืนยัน',
                cancelText: 'ยกเลิก',
                onCancel() {
                    vm.destroy()
                },
            })
        },
        destroy() {
            this.$destroyAll()
        }
    }
}
</script>

<style lang="scss" scoped>
.topbar{
    padding: 10px;
    color: #666666;
    background-color: #f5f5f5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    .back{
        cursor: pointer;
        margin-right: 8px;
    }
    .logo{
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
}
</style>
