@import '~/styles/fonts.scss';

html,
body {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: $font-main !important;
    font-size: 1rem !important;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85) !important;
    line-height: normal !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#__nuxt,
#__layout {
    height: 100%;   
    min-height: 100%;
}

.page-enter-active, .page-leave-active {
    transition: all .3s ease;
}
.page-enter {
    transform: translateY(30px);
    opacity: 0;
}
.page-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

.layout-enter-active, .layout-leave-active {
    transition: all .3s ease;
}
.layout-enter {
    transform: translateY(30px);
    opacity: 0;
}
.layout-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

.slideLeftAb-enter-active, .slideLeftAb-leave-active {
    transition: all .3s ease-out;
}
.slideLeftAb-enter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(30px);
    opacity: 0;
}
.slideLeftAb-leave-to {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-30px);
    opacity: 0;
}

// scrolling
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25); 
  }